:root {
    --farbe1: white;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: palevioletred;
}

nav {
    background: white;
    z-index: 1;
}

.special {
    background: blue;
    color: yellowgreen;
}

a {
    text-decoration: none;
    color: crimson;
}

a:hover {
    color: black;
}

header p {
    padding: 10px;
}